{% extends "layout.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="col-sm-6 col-sm-offset-3" style="min-height:60vh">
<div class="page-header">
  <h1>Contact Us </h1>
</div>
    <p>Department of Electrical and Computer Engineering <br/>
3128 TAMU <br/>
College Station, TX 77843-3128<br/>
Office: 215F WEB<br/>
<span class="text-success">Email:rnaseqmetadb AT google CONCATENATE groups DOT com <br/> </span>
</p>
<p class="text-info">For data inquiries, please submit the form at Dataset Submission. We will get back to you as soon as possible.</p>
<div class="space"> </div>
</div>

{%endblock%}