{% extends "layout.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="col-md-12" style="min-height:60vh">
  <form  class="form-horizontal"action="">
      <div class="form-group">
        <label for="keyword" class="col-sm-2" >Key Word:</label>
		<div class="col-sm-8">
        <input type="text" class="form-control" name="keyword">
		</div>
		<div class="col-sm-2"><span><strong>--AND--</strong></span></div>
		
      </div>   
       
      <div class="form-group">
        <label for="genename" class="col-sm-2">Gene Name:</label>
		<div class="col-sm-8">
        <select class="form-control search input-sm" name="genename">
          <option></option>
          {% for genename in gene_names %}
          <option value="{{genename}}">{{genename}}</option>
          {% endfor %}
        </select>
		</div>
		 <div class="col-sm-2">
		 <span><strong> --OR-- </strong></span>
		</div>
       
      </div>
      <div class="form-group">
        <label for="diseasename" class="col-sm-2">Disease Name:</label>
		<div class="col-sm-8">
        <select class="form-control search input-sm" name="diseasename">
          <option value=""></option>
          {% for diseasename in disease_names %}
          <option value="{{diseasename}}">{{diseasename}}</option>
          {% endfor %}
        </select>
		</div>
		 <div class="col-sm-2">
		<span><strong> --OR-- </strong></span>
		</div>
        
      </div>
      <div class="form-group ">
        <label for="tissuetype" class="col-sm-2">Tissue Type:</label>
		<div class="col-sm-8">
        <select class="form-control search input-sm" name="tissuetype" >
          <option></option>
          {% for tissuetype in tissue_names %}
          <option value="{{tissuetype}}">{{tissuetype}}</option>
          {% endfor %}
        </select>
		</div>
      </div>
	  <div class="form-group ">
	  <div class="col-sm-offset-2 col-sm-10">
	   <button type="submit" class="btn btn-primary">Search</button>
	   </div>
	   </div>
  </form>
  <br/>
  <hr/>

  <div class="table-responsive">
    <table id="myTable" class="display">
      <thead>
        <tr>
          <th>Accession ID</th>
          <th>Title</th>
          <th>Gene Name</th>
          <th>Disease Name</th>
          <th>TissueType</th> 
        </tr>
      </thead>
      <tbody>
        {% for data in DATAs%} 
        <tr>
          <td><a href="{{url_for('home')+'experiments/'+data["ID"]}}">{{data["ID"]}}</a></td>
          <td>{{data["title"]}}</td>
          <td>{{data["gene"]}}</td>
          <td>{{data["disease"]}}</td>
          <td>{{data["tissue"]}}</td>
        </tr>
        {% endfor%} 

      </tbody>
    </table>
  </div>
</div><!-- close col-md-12 .*-inner (main-content or sidebar, depending if sidebar is used) -->
<script>
  $(document).ready(function(){
      $('#myTable').DataTable();
      });
    </script>
    <script>
      $( "form" ).submit(function( event ) {
          var selectedkeyword = $("input[name='keyword']").val();
          localStorage.setItem("keyword", selectedkeyword);
          var selectedgene = $("[name='genename'] option:selected").val();
          localStorage.setItem("genename", selectedgene);
          var selecteddisease = $("[name='diseasename'] option:selected").val();
          localStorage.setItem("diseasename", selecteddisease);
          var selectedtissue = $("[name='tissuetype'] option:selected").val();
          localStorage.setItem("tissuetype", selectedtissue);
          return;
          });
$(document).ready(function(){
    //select the options which were selected previously
    // Check browser support,
    if (typeof(Storage) != "undefined") {
    // Store	
    debugger;
    $("input[name='keyword']").val(localStorage.getItem('keyword'));
    $("[name='genename'] option[value='"+localStorage.getItem('genename')+"']").attr('selected','selected');
    $("[name='diseasename'] option[value='"+localStorage.getItem('diseasename')+"']").attr('selected','selected');
    $("[name='tissuetype'] option[value='"+localStorage.getItem('tissuetype')+"']").attr('selected','selected');


    } else {
    document.write("undefined");
    }
    });
  </script>

  {% endblock %}
