{% extends "layout.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="col-md-4 col-md-offset-4" style="height:60vh">
<form action="" method = "POST">
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" name="email" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
    <div class="form-group">
	<button type="text" type="submit" class="btn btn-primary" name="login">Login</button>
 </div>
  </form>
  </div>
  <div class="col-md-4"></div>
{% endblock %}
