{% extends "layout.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<!--
will keep track of every submission in database. Administrator will be able to approve/disapprove the submission
-- back-end: take data from the form ("inqueryForm")and store in database
-->
		<div class="col-md-8 col-md-offset-3">
		<h3 style="margin-bottom:15px">Submit Your Inquery</h2>
		</div>
		
			<form action="{{ url_for('submission') }}" method=get class="form-horizontal" id="inqueryForm" style="margin-top:30px">
			  <div class="form-group">
			    <label for="AccessionID" class="col-sm-3 control-label">Accession ID:</label>
			    <div class="col-sm-5">
			      <input type="text" class="form-control" id="AccessionID" placeholder="GEO/ArrayExpress Accession ID">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="PubMedID" class="col-sm-3 control-label">PubMed ID (optional):</label>
			    <div class="col-sm-5">
			      <input type="text" class="form-control" id="PubMedID">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="YourName" class="col-sm-3 control-label">Your Name:</label>
			    <div class="col-sm-5">
			      <input type="text" class="form-control" id="YourName">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="YourEmail" class="col-sm-3 control-label">Your Email:</label>
			    <div class="col-sm-5">
			      <input type="email" class="form-control" id="YourEmail">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="comments" class="col-sm-3 control-label">Comments (optional):</label>
			    <div class="col-sm-5">
			      <textarea class="form-control" id="Comments"></textarea>
			    </div>
			  </div>
			  <div class="form-group">
			    <div class="col-sm-offset-3 col-sm-5">
			      <button type="submit" class="btn btn-primary" id="inquerySub">Submit</button>
			    </div>
			  </div>
			</form>


{% endblock%}